@import "~bootstrap/scss/bootstrap";
body {
  padding-top: 5rem;
}
.jumbotron {
  background: rgba(149, 213, 218, 0.425);
}
.icon-container {
  margin-bottom: 2rem;
}
.icon-container {
  font-size: 3rem;
}
.for-whom .card {
  border: none;
}
section {
  margin-bottom: 50px;
  margin-top: 50px;
  min-height: 40vh;
}
.small-square-images {
  width: 100px;
  height: 100px;
}
.map-section {
  position: relative;
}
.map-section::after {
  background: url(/src/assets/map.png.jpg) no-repeat center center fixed;
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.register-form {
  margin-left: 25%;
  margin-top: 7%;
}
.pt-3 {
  padding-bottom: 2rem;
}
