table {
    border-collapse: collapse;
}

table, td, tr, th{
    border: 2px solid black;
}

thead {
    color: rgb(108, 8, 201);
    text-align: left;
}
tbody {
    color: rgb(8, 85, 8);
}
tfoot {
    color: rgb(190, 36, 36);
}
figcaption {
    text-align: center;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#blueheader {
    color: rgb(221, 111, 133);
    background: black;
    text-align: center;
}

.textinclass {
    background: yellow;
    color: #3f0202;
} 

.text-align-center {
    text-align: center;
}

caption.textinclass {
    font-size: 30px;
}
* {
    font: 20px arial, sans-serif; 
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sectionWithBackground {
    background-color: rgb(211, 208, 58);
    background-image: url('https://fotopoisk.com.ua/media/uploads/014_06.jpg');
    border-width: 3px;
    border-style: dotted;
    border-color: brown;
    border-radius: 18px;
}

img {
    margin: 10px 15px;
}
a {
 color: ivory;
}

header, main, aside, footer {
    // border: 1px solid rgb(114, 70, 70);
    padding: 6px;
    margin: 3px;
}
 
header {
    background-color: rgb(47, 0, 80);
}
main {
    float: left;
    width: 65%;
}
aside {
    float: right;
    width: 28%;
}
footer {
    clear: both;
    background-color: rgb(47, 0, 80)
}

#articles {
    background-color: rgb(159, 184, 159);
}